header {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    margin-right: auto;
    margin-left: 20px;
}

.logo img {
    height: 30px;
    width: auto;
    /* Adjust the height as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFCB05;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}